*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}


html,body{
    width: 100%;
    height: 100%;
    
}
*::selection{
    background-color: #fff;
    color: #95C11E;
    /* transition: all ease 0.5; */
}
body::-webkit-scrollbar{
    display: block;
    width: 8px;
    background-color: #fff;
}
body::-webkit-scrollbar-thumb{
    background-color: #95C11E;
    border-radius: 50px;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 300px;
    width: 300px;
    background-color:  #96c11e62;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    z-index: 99;    
}
#nav img{
    height: 100px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    color: #000;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);

}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: 'Anuj Shukla';
    position: absolute;
    color: #000;
    top: -2px;
    left: -2px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}
#page1 h2::before{
    content: 'Frontend Developer';
    position: absolute;
    color: #000;
    /* top: -2px;
    left: -2px; */
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}
#page1 #arrow{
    height:150px;
    width: 150px;
    background-color: transparent;
    border: 2px solid #95C11E;
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
}
#page1 #arrow i{
    font-size: 100px;
    font-weight: 100;
}
#page1 #arrow:hover{
    scale: 0.5;
    background-color: #95C11E;
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 100px;
    font-weight: 400px;
    font-family: gilroy;
    margin-right: 40px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 0.5px #95C11E  ;
}
#scroller h4:hover{
    color: #95C11E;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

#about-us{
    height: 40vh;
    width: 100%;
    padding: 0 50px ;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-around;
}
#about-us img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    width: 50%;
    text-align: center;
}
#about-us-in h3{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}
#about-us-in p{
    font-size: 20px;
    line-height: 30px;
}
#about-us-in span{
    font-size: 20px;
    line-height: 30px;
    color: #000;
    -webkit-text-stroke: 0.3px #fff ;
}
#cards-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}
.card{
    height: 80%;
    width: 24%;
    border-radius: 20px;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(https://cdn.dribbble.com/userupload/14831469/file/still-2b0f8d008ab77eac58e583c01e2919b0.png?format=webp&resize=400x300&vertical=center)
}
#card2{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfxFv3yZ4J5rdpLTN77Zx2VulE-3dKldxDeg&s)
}
#card3{
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/0*y6IcBe5J1AdALzXw.png)
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 30px;
    padding-top: 100px;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    white-space: nowrap;
    margin-bottom: 20px;
}
.overlay p{
    color: #000;
    font-size: 18px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
 
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom,  yellow, green );
}
#green-div h4{
    width: 50%;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center; 
    line-height: 50px;
    color: #000;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}
#page3{
    height: 50vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    
}
#page3>p{
    font-size: 35px;
    font-weight: 700;
    width: 50%;
    line-height: 45px;
    text-align: center;
}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
      left: 15%;
      top: 30%;
}
#page3 #colon2{
      bottom: 30%;
      right: 15%;
}
#page4{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 70px;
}

.elem{
    height: 45%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    color: #000;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    font-size: 40px;
    position: absolute;
    z-index: 10;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    scale: 1.1;
}
.elem:hover h2{
    color: none;
    background-color: transparent;
}
.elem:hover img{
    scale: 1;
}
#page4 h1{
    font-size: 200px;
    position: absolute;
    letter-spacing: 10px;
    top: -80px;
    font-weight: 900;
    color: #000;
    -webkit-text-stroke: 1.5px #fff;
}
#footer{
    height: 60vh;
    width: 100%;
    background: linear-gradient(to left bottom, green, yellow );
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
}
#footer>img{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}
#f1 img{
    height: 100px;
}
#f1,#f2,#f3,#f4{
    width: fit-content;
    position: relative;
    z-index: 2;
}
#f2 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
}
#f3 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
}
#f4 h4{
    font-size: 18px;
    white-space: nowrap;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}
